* {
    margin: 0;
}

body {
    margin: 0;
}

.recipes-title h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    margin: 0;
    padding: 20px;
}

.recipes-title h1 a {
    text-decoration: none;
    color: inherit; 
}
.recipes-header {
    display: flex;
    justify-content: space-between;
}
.recipes-header-child {
    flex: 1;
}

.page-title {
    text-align: center;
    margin: 0px 0px 30px 0px;
    width: 100%;
}

.page-title h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    margin: 0;
}

.page-title h1 a {
    text-decoration: none;
    color: inherit; 
}

.grid-navbar-box div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-navbar-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
    justify-content: center;
    text-align: center;
}

.grid-navbar-box h1 {
    margin: 0;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

.grid-navbar-box h1 a {
    text-decoration: none;
    color: inherit;  
    position: relative;
}

.grid-navbar-box h1 a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: hsl(0, 8%, 87%);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;  
}

.grid-navbar-box h1 a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.grid-card-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 150px;
    justify-content: center;
    text-align: center;
    margin: 0px 150px 0px 150px ;
}
.card-section {
    margin-top: 10vh;
}

#card-section-title {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin: 0px 0px 50px 0px ;
    text-align: center;
}

.card.box-1{
    width: 200px;
	height: 280px;
	border-radius: 12px;
	background-image: url(images/sinigang.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	position: relative;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.card.box-2{
    width: 200px;
	height: 280px;
	border-radius: 12px;
	background-image: url(images/lasagna.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	position: relative;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.card.box-3{
    width: 200px;
	height: 280px;
	border-radius: 12px;
	background-image: url(images/friedchicken.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	position: relative;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.card.box-4{
    width: 200px;
	height: 280px;
	border-radius: 12px;
	background-image: url(images/chickenadobo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	position: relative;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.card:hover {
	transform: scale(1.54);
}

.card > h1 {
	font-size: 1.9rem;
	word-break: break-word;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}
.food-container {
    margin: 3vh 0 0 0;
}

.food-title {
    text-align: center;
}
.food-title h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em; 
}
.food-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    row-gap: 2vh;
}
.food-desc {
    width: 500px;   
}
.food-desc h1 {
    text-align: justify;
    font-size: 1.2em;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}
.food.box-1 {
    width: 500px;
	height: 350px;
	cursor: pointer;
	color: #fff;
}
.food-metadata-banner {
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 10px; /* Adjust this value as needed */
    border-top-right-radius: 10px; /* Adjust this value as needed */
    height: 10px;
}
.food-metadata {
    border: 0.5px solid rgb(204, 200, 200);
    border-radius: 10px;
    width: 500px;
}
.food-metadata-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 1em 0 1em 0;
    row-gap: 30px;
    padding: 0 0 0 10px;
    overflow: hidden;
}
.food-metadata-content-item {
    width: 166px;
}
.food-metadata-content-item h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
}
.food-metadata-content-item h2 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em; 
}
.food-ingredients-title h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-bottom: 10px; 
}
.food-ingredients-list {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}
.food-ingredients-list ul {
    padding-left: 20px;
}
.food-ingredients-list li{
    margin-bottom: 10px;
}

